a [href="https://www.facebook.com"]
{
  color: purple;
}

a[title="nellywebsite"] {
  color: green;
}

body {
  background-color: burlywood;
}
.reference {
  text-align: center;
}

.nestedselector {
  text-decoration: underline;
  & > a {
    text-align: right;
    color: aqua;
  }
}
/* this is definitely wrong. not showing up */
linkedin|* {
  color: green;
  text-transform: capitalize;
}

span {
  background-color: black;
  color: crimson;
}
div > span {
  background-color: dimgray;
  color: darkorange;
}

li {
  list-style-type: disc;
}
li li {
  list-style-type: circle;
}
