a [href="https://www.facebook.com"]
{
  color: purple;
}

a[title="nellywebsite"] {
  color: green;
}

body {
  background-color: burlywood;
}
.reference {
  text-align: center;
}

.nestedselector {
  text-decoration: underline;
  & > a {
    text-align: right;
    color: aqua;
  }
}
/* this is definitely wrong. not showing up */
linkedin|* {
  color: green;
  text-transform: capitalize;
}

span {
  background-color: black;
  color: crimson;
}
div > span {
  background-color: dimgray;
  color: darkorange;
  text-transform: capitalize;
}

li {
  list-style-type: disc;
}
li li {
  list-style-type: circle;
}
li:first-of-type + li {
  text-decoration-line: underline;
  text-transform: uppercase;
}
div:first-of-type + p {
  color: chartreuse;
  background-color: deeppink;
}

/* also not working :( */
section:first-of-type + a {
  color: mediumslateblue;
}

.improve,
li {
  text-decoration-line: underline;
  background-color: white;
  text-decoration-thickness: 2px;
  margin-top: 10px;
}
